/* reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* stile header */
header {
    height: 200px;
    background-image: url(../img/wall.png);
    background-size: auto;
    display: flex;
    justify-content: center;
    font-family: 'Edu Tas Beginner', sans-serif;
}

/* stile titole pagina */
header h1 {
    margin: auto;
    font-size: 80px;
}



/* stile sezione main */
main {
    background-image: url(../img/cork.png);
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* stile container */
#container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}


/* stile cards */
.card {
    width: 400px;
    height: 480px;
    background-color: white;
    padding: 20px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 3px 5px -3px #000000;
}

/* stile immagine pin */
.pin {
    height: 40px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

/* stile container interno alle card */
.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* stile immagini */
.innerContainer img {
    width: 100%;
    height: 100%;
}

/* stile container dei testi */
.textContainer {
    margin-top: 20px;
    width: 100%;
}

/* stile titolo immagini */
.textContainer h5 {
    font-family: 'Sometype Mono', 'monospace';
    font-size: 18px;
    color: gray;
    font-weight: 300;
}

/* stile date */
.textContainer h2 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Edu Tas Beginner', sans-serif;
}








/*  stile del messaggio di errore */
.error {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 800;
}











/* ************************
        MEDIA QUERY
************************ */

@media screen and (max-width: 1024px) {
    #container {
        width: 80%; /* Riduzione ampiezza */
    }
}


@media screen and (max-width: 768px) {
    #container {
        width: 85%;
    }
}


@media screen and (max-width: 480px) {
    #container {
        width: 100%;
    }
}



.card:hover {
    transform: rotate(15deg);
    transition: transform 0.3s ease-in-out, z-index 0s;
    z-index: 10;
}

.card:hover .pin {
    display: none;
}




