/* reset pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(../img/cork.png);
    background-size: contain;
    padding-bottom: 50px;
}


/* stile header */
header {
    height: 120px;
    background-image: url(../img/wall.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Edu Tas Beginner', sans-serif;
}

/* stile titole pagina */
header h1 {
    margin: auto;
    font-size: 70px;
}



/* stile sezione main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* stile container */
#container {
    margin-top: 50px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}


/* stile cards */
.card {
    width: 400px;
    height: 480px;
    background-color: white;
    padding: 20px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 3px 5px -3px #000000;

    transform: rotate(0deg); /* Posizione iniziale della card */
    transition: transform 0.3s ease-in-out, z-index 0s;

}

/* stile immagine pin */
.pin {
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

/* stile container interno alle card */
.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* stile immagini */
.innerContainer img {
    width: 100%;
    height: 100%;
}

/* stile container dei testi */
.textContainer {
    margin-top: 20px;
    width: 100%;
}

/* stile titolo immagini */
.textContainer h5 {
    font-family: 'Sometype Mono', 'monospace';
    font-size: 18px;
    color: gray;
    font-weight: 300;
}

/* stile date */
.textContainer h2 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Edu Tas Beginner', sans-serif;
}


/* effetto ratozione all'hover su imagini */
.card:hover {
    transform: rotate(10deg);
    transition: transform 0.3s ease-in-out, z-index 0s;
    z-index: 10;
}

/* rimuovi pin all'hover su immagine */
.card:hover .pin {
    display: none;
}


/*  stile del messaggio di errore */
.error {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 800;
}








/* gestione stile overlay */
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.9);
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#imgOverlay {
    max-width: 70%;
    max-height: 70%;
}


.close {
    z-index: 200;
    font-size: 40px;
    font-family: 'Sometype Mono', 'monospace';
    color: white;
    position: absolute;
    top: 20px;
    cursor: pointer;
}

.inactive {
    display: none;
}


.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* ************************
        MEDIA QUERY
************************ */

@media screen and (max-width: 480px) {

    header {
        height: 100px;
    }

    /* stile titole pagina */
    header h1 {
        margin: auto;
        font-size: 50px;
    }

    /* stile cards */
    .card {
        width: 320px;
        height: 410px;
    }


}