* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
    background-image: url(../img/wall.png);
    background-size: auto;
    display: flex;
    justify-content: center;
    font-family: 'Edu Tas Beginner', sans-serif;
}

header h1 {
    margin: auto;
    font-size: 80px;
}

main {
    background-image: url(../img/cork.png);
    background-size: auto;
    

    display: flex;
    justify-content: center;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card {
    width: 400px;
    height: 480px;
    background-color: white;
    padding: 20px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 3px 5px -3px #000000;
}

.pin {
    height: 40px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerContainer img {
    width: 100%;
    height: 100%;
}

.textContainer {
    margin-top: 20px;
    width: 100%;
}

.textContainer h5 {
    font-family: 'Sometype Mono', 'monospace';
    font-size: 18px;
    color: gray;
    font-weight: 300;
}

.textContainer h2 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'Edu Tas Beginner', sans-serif;
}

